<%- include("partials/header.ejs") %>
<h2>Conductores</h2>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nombre del piloto</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Licencia</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item">Salario</li>
          <li class="list-group-item"><small class="text-muted">Fecha de contratacion: 2012/12/12</small></li>
          <li class="list-group-item"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Viajes</a>
          <a href="#" class="card-link">Editar</a>
        </div>
      </div>
  </div>
<%- include("partials/footer.ejs") %>