<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Ruta</title>
  
</head>
<body>
    <h1>Agregar Nueva Ruta</h1>
    <form action="{{ url_for('add_ruta') }}" method="post">
        <label for="origen">Origen:</label>
        <input type="text" id="origen" name="origen" required><br><br>

        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino" required><br><br>

        <label for="distancia">Distancia (km):</label>
        <input type="text" id="distancia" name="distancia"><br><br>

        <label for="duracion_estimada">Duración Estimada:</label>
        <input type="text" id="duracion_estimada" name="duracion_estimada"><br><br>

        <button type="submit">Agregar Ruta</button>
    </form>
</body>
</html>
