<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Administración de Buses</title>

</head>
<body>
    <h1>Bienvenido a la Administración de Urban Monedita</h1>
    <ul>
        <li><a href="{{ url_for('conductores') }}">Gestionar Conductores</a></li>
        <li><a href="{{ url_for('vehiculos') }}">Gestionar Vehículos</a></li>
        <li><a href="{{ url_for('rutas') }}">Gestionar Rutas</a></li>
        <li><a href="{{ url_for('viajes') }}"> Viajes</a></li>
        

    </ul>
</body>
</html>
