<%- include("partials/header.ejs") %>
<h2>Ingresos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID Viaje</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>C$4000</td>
            <td>2024/01/01</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>C$6000</td>
            <td>2024/01/02</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>C$4800</td>
            <td>2024/01/03</td>
        </tr>
    </tbody>
</table>
<%- include("partials/footer.ejs") %>